<div id="AdminPanel">
    <div class="row p-3 m-3">
        <h5>Üye Yönetimi</h5>
       <div class="row">
           <ul style="list-style: none;">
            <li><form (submit)=UyeGetir() ><input class="form-control" name="uyeadi" [(ngModel)]="uyeadi" placeholder="Ara" type="text"> <button type="submit" class="btn btn-primary">Ara</button></form> </li>
           </ul>
       </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Username</td>
                <td>Mail</td>
                <td>Ogrenci</td>
                <td>Sil</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let uye of uyeler">
                <td>{{uye.adsoyad}}</td>
                <td>{{uye.mail}}</td>
                <td>{{uye.ogrencimi}}</td>
                <td><button (click)="Sil(uye.key)" class="btn btn-danger">Sil</button></td>
            </tr>
        </tbody>
    </table>
    </div>
    <div class="row p-3 m-3">
        <div class="col-12">
            <h3>Mesajlar</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>Ad Soyad</td>
                        <td>Konu</td>
                        <td>Email</td>
                        <td>Mesaj</td>
                        <td>Tarih</td>
                        <td>Kontrol</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let mesaj of mesajlar">
                        <td>{{mesaj.adsoyad}}</td>
                        <td>{{mesaj.konu}}</td>
                        <td>{{mesaj.mail}}</td>
                        <td>{{mesaj.mesaj}}</td>
                        <td>{{mesaj.date | date:'dd.MM.yyyy HH:mm'}}</td>
                        <td><button (click)="SilMesaj(mesaj.key)" class="btn btn-primary">Sil</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>