<section>
    <div class="row">
        <div class="col-5">
            <h1>Tüm topluluklar, <br>
                tek bir yerde.
            </h1>
            <p>Akdeniz Üniversitesi'nin öğrencilerin olduğu özel topluluklara katıl. Fikirlerini paylaş, sesini duyur!</p>
            <div id="Landing-Auth">
                <button routerLink="login">Giriş Yap</button>
                <button routerLink="register">Üye Ol</button>
            </div>
        </div>
        <div class="col-7">
            <img src="assets/AUPic.png" alt="">
        </div>
    </div>
</section>
