
a:hover{
    text-decoration: none;
}

main{

    min-height: 100vh;
    padding: 40px 3%;
    background-color: #F9F7F2;
    
    
}

nav {
    height: 80px;
    line-height: 80px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
nav > a > img {
    height: 80px;
    margin-bottom: 10px;
}
@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');
nav > a > span{
    font-family: 'Damion', cursive;
    font-size: 30px;
    color: orange;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
nav > ul {
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    float: right;
    margin: auto 0px auto auto;
}
nav > ul > li {
    float: right;
    width: 150;
    margin-left: 30px;
}
nav > ul > li > a{
    font-size: 20px;
    color: rgb(255, 102, 0);
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}
nav > ul > li > a:hover{
    cursor: pointer;
}

@media only screen and (max-width: 660px) {
    nav {
        margin-bottom: 80px;
    }
}